extends template
block content
    .contact
        h3.boldh3 Con<span class="underline">tact</span> <span class="blue">Us</span>

        .contact-detail.col-xs-12.col-sm-12.col-md-6.col-lg-6
            h4.articleh4 More Details
            p Malesuada penatibus felis Neque porro quisquam est qui dolorem Lorem ipsum dolor sit amet, aptent neque fringilla duis erast ridiculus.
            p <i class="fa fa-map-marker" aria-hidden="true"></i> California St San Francisco, CA USA
            p <i class="fa fa-clock-o" aria-hidden="true"></i> Mon-Fri : 9am - 10pm. Sat : 9am - 12pm
            p <i class="fa fa-phone" aria-hidden="true"></i> <span class="blue"> Tel :</span> +0 (020) 123-5338
            p <i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="blue"> Email :</span> info@example.com

        .contact-form.col-xs-12.col-sm-12.col-md-6.col-lg-6
            h4.articleh4 Contact Form
            form
                input(type="text" name="Name" placeholder="Name")
                input(type="number" name="Phone number" placeholder="Phone number")
                input(type="Email" name="Email" placeholder="Email")
                textarea(placeholder="Type your text hear...")
                input(type="submit" value="Submit")

    .map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3060066585!2d-74.2598705607801!3d40.69714940704889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1508423396677" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen)

    .info.row
        .info-content
            .col-xs-12.col-sm-6.col-md-6.col-lg-3
                div
                    i(aria-hidden="true").fa.fa-truck
                div
                    h3 Free Shiping
                    p Lorem ipsum dolor sit amet, consectetur

            .col-xs-12.col-sm-6.col-md-6.col-lg-3
                div
                    i(aria-hidden="true").fa.fa-headphones
                div
                    h3 24/7 Support
                    p Lorem ipsum dolor sit amet, consectetur

            .col-xs-12.col-sm-6.col-md-6.col-lg-3
                div
                    i(aria-hidden="true").fa.fa-shopping-bag
                div
                    h3 Money Back Guarantee
                    p Lorem ipsum dolor sit amet, consectetur

            .col-xs-12.col-sm-6.col-md-6.col-lg-3
                div
                    i(aria-hidden="true").fa.fa-gift
                div
                    h3 Free Gift Coupons
                    p Lorem ipsum dolor sit amet, consectetur


