
<div class="wedo">
  <div class="wedo-head">
    <h3 class="boldh3">Wha<span class="underline">t W</span>e <span class="blue">Do</span></h3>
  </div>
  <div class="wedo-content row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon"><i class="fa fa-female" aria-hidden="true"></i></div>
      <h5>Natural materials</h5>
      <p><span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
      <h5>Craftsmanship</h5>
      <p><span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
      <h5>Unique Design</h5>
      <p><span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon"><i class="fa fa-scissors" aria-hidden="true"></i></div>
      <h5>Alterations</h5>
      <p><span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon"><i class="fa fa-fire-extinguisher" aria-hidden="true"></i></div>
      <h5>Repairs</h5>
      <p><span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
      <h5>Bridal</h5>
      <p><span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.</p>
    </div>
  </div>
</div>
<div class="pricing">
  <h3 class="boldh3">Prici<span class="underline">ng </span><span class="blue">Plans</span></h3>
  <div class="pricing-content">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="pricing-top orange">
        <h3>Normal</h3>
        <p>$<span>35</span>/Per alter</p>
      </div>
      <div class="pricing-bottom">
        <p><span>Pants - shorten</span>/lengthen</p>
        <p><span>Taper</span> pants</p>
        <p><span>Suit jackets</span> - shorten sleeves</p>
        <p><span>Blouse</span>shorten sleeves</p>
        <p><span>Blouses</span> narrow tank top</p>
      </div>
      <div class="pricing-btn"><a class="pricing-a" href="#">BOOK NOW</a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="pricing-top pink">
        <h3>Professional</h3>
        <p>$<span>175</span>/Per alter</p>
      </div>
      <div class="pricing-bottom">
        <p><span>Pants - shorten</span>/lengthen</p>
        <p><span>Taper</span> pants</p>
        <p><span>Suit jackets</span> - shorten sleeves</p>
        <p><span>Blouse</span>shorten sleeves</p>
        <p><span>Blouses</span> narrow tank top</p>
      </div>
      <div class="pricing-btn"><a class="pricing-a" href="#">BOOK NOW</a></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="pricing-top green">
        <h3>Special</h3>
        <p>$<span>190</span>/Per alter</p>
      </div>
      <div class="pricing-bottom">
        <p><span>Pants - shorten</span>/lengthen</p>
        <p><span>Taper</span> pants</p>
        <p><span>Suit jackets</span> - shorten sleeves</p>
        <p><span>Blouse</span>shorten sleeves</p>
        <p><span>Blouses</span> narrow tank top</p>
      </div>
      <div class="pricing-btn"><a class="pricing-a" href="#">BOOK NOW</a></div>
    </div>
  </div>
</div>