extends template
block content
    .wedo
        .wedo-head
            h3.boldh3 Wha<span class="underline">t W</span>e <span class="blue">Do</span>
        .wedo-content.row
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                 .icon
                    i(aria-hidden='true').fa.fa-female
                 h5 Natural materials
                 p <span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                 .icon
                    i(aria-hidden='true').fa.fa-bolt
                 h5 Craftsmanship
                 p <span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                 .icon
                    i(aria-hidden='true').fa.fa-thumbs-o-up
                 h5 Unique Design
                 p <span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                 .icon
                     i(aria-hidden='true').fa.fa-scissors
                 h5 Alterations
                 p <span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                 .icon
                     i(aria-hidden='true').fa.fa-fire-extinguisher
                 h5 Repairs
                 p <span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.
            .col-xs-12.col-sm-12.col-md-4.col-lg-4
                 .icon
                     i(aria-hidden='true').fa.fa-thumb-tack
                 h5 Bridal
                 p <span class="span-line"></span>Lorem Sed Nisi Leo. Ut At Sagittis Nisi. Cras Porttitor A Purus Ac Rutrum.
    .pricing
        h3.boldh3 Prici<span class="underline">ng </span><span class="blue">Plans</span>
        .pricing-content
                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .pricing-top.orange
                        h3 Normal
                        p $<span>35</span>/Per alter
                    .pricing-bottom
                        p <span>Pants - shorten</span>/lengthen
                        p <span>Taper</span> pants
                        p <span>Suit jackets</span> - shorten sleeves
                        p <span>Blouse</span>shorten sleeves
                        p <span>Blouses</span> narrow tank top
                    .pricing-btn
                        a(href='#').pricing-a BOOK NOW

                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .pricing-top.pink
                        h3 Professional
                        p $<span>175</span>/Per alter
                    .pricing-bottom
                        p <span>Pants - shorten</span>/lengthen
                        p <span>Taper</span> pants
                        p <span>Suit jackets</span> - shorten sleeves
                        p <span>Blouse</span>shorten sleeves
                        p <span>Blouses</span> narrow tank top
                    .pricing-btn
                        a(href='#').pricing-a BOOK NOW

                .col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .pricing-top.green
                        h3 Special
                        p $<span>190</span>/Per alter
                    .pricing-bottom
                        p <span>Pants - shorten</span>/lengthen
                        p <span>Taper</span> pants
                        p <span>Suit jackets</span> - shorten sleeves
                        p <span>Blouse</span>shorten sleeves
                        p <span>Blouses</span> narrow tank top
                    .pricing-btn
                        a(href='#').pricing-a BOOK NOW